h3{
  color: white;
}

.number_display{
  display: inline-block;
  height: 50px;
}

.number {
  display: inline-block;
  width: 50px;
}

@keyframes displayElement {
  from {
    transform: scale(.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: (1);
  }
}

.popIn {
  animation-name: displayElement;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal
}